body {
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;font-size:24px;font-weight:400;line-height:36px;letter-spacing:-0.02em;line-height:32px;
  color: #37474F;
}

.hero {
  min-height: 480px;
  background-color: #FF4081;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-cover{
  background-image: url(./images/Anitta-lançará-versão-em-inglês-do-hit-Bang-MDPOP.jpg);
}

.album-1{
  background-image: url(./images/anitta_01.jpg);
}

.album-2{
  background-image: url(./images/anitta-xeque-mate-parceria-a-gambiarra-e1506112583260-1170x480.jpg);
}

.album-3{
  background-image: url(./images/ref_11467.1544.jpg);
}

@media screen and (min-width: 300px) {
  .grid-cont{
    padding: 0 20px 10px 20px;
  }
}

@media screen and (min-width: 800px) {
  .grid-cont{
    padding: 0 200px 100px 200px;
  }
}
